.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardContainer {
  max-width: 300px;
  margin: 20px;
}

.titleContainer {
  margin: 40px;
  text-align: left;
}

.intro {
  font-size: 50px;
  margin-bottom: 0;
}

.nameIntro {
  font-size: 80px;
  margin: 0 auto 0 auto;
}


@media only screen and (max-width: 800px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    font-size: 20px;
  }

  .nameIntro {
    font-size: 35px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
